VITE_BACKEND_API_URL=http://localhost:8000
VITE_FRONTEND_HOSTNAME=http://localhost:8080
VITE_ENV=DEV
VITE_CHUNK_SIZE=5242880
VITE_CHUNK_OVERLAP=20
VITE_TOKENS_PER_CHUNK=200
VITE_CHUNK_TO_COMBINE=1
VITE_LARGE_FILE_SIZE=5242880
VITE_CHAT_MODES=graph_vector_fulltext
VITE_BATCH_SIZE=2
VITE_LLM_MODELS=groq_gpt-oss-120b
VITE_LLM_MODELS_PROD=groq_gpt-oss-120b

VITE_REACT_APP_SOURCES=local
VITE_SKIP_AUTH=true
VITE_BLOOM_URL="https://workspace-preview.neo4j.io/workspace/explore?connectURL={CONNECT_URL}&search=Show+me+a+graph&featureGenAISuggestions=true&featureGenAISuggestionsInternal=true"
VITE_TIME_PER_PAGE=50

#VITE_SEGMENT_API_URL=
#VITE_AUTH0_CLIENT_ID=
#VITE_AUTH0_DOMAIN=
#VITE_GOOGLE_CLIENT_ID=