version: '3'

services:
  backend:
#    env_file:
#      - path: ./backend/.env
#        required: false
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      - NEO4J_URI=${NEO4J_URI-neo4j://database:7687}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD-password}
      - NEO4J_USERNAME=${NEO4J_USERNAME-neo4j}
      - OPENAI_API_KEY=${OPENAI_API_KEY-}
      - DIFFBOT_API_KEY=${DIFFBOT_API_KEY-}
      - EMBEDDING_MODEL=${EMBEDDING_MODEL-text-embedding-ada-002}
      - LANGCHAIN_ENDPOINT=${LANGCHAIN_ENDPOINT-"https://api.smith.langchain.com"}
      - LANGCHAIN_TRACING_V2=${LANGCHAIN_TRACING_V2-true}
      - LANGCHAIN_PROJECT=${LANGCHAIN_PROJECT}
      - LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}
      - KNN_MIN_SCORE = ${KNN_MIN_SCORE-"0.94"}
      - IS_EMBEDDING = ${IS_EMBEDDING-true}
    container_name: backend
    ports:
      - "8000:8000"
    networks:
      - net

  frontend:
    depends_on:
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - BACKEND_API_URL=${BACKEND_API_URL-}
      - PRODBLOOMURL = ${PROD_BLOOM_URL}
      - DEVBLOOMURL = ${DEV_BLOOM_URL}
    container_name: frontend
    ports:
      - "5173:5173"
    networks:
      - net

networks:
  net: