services:
  neo4j-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/code
    environment:
      - NEO4J_URI=neo4j://192.168.137.188:7687
      - NEO4J_PASSWORD=${NEO4J_PASSWORD-neo4j}
      - NEO4J_USERNAME=${NEO4J_USERNAME-neo4j}
      - GCP_LOG_METRICS_ENABLED=False
      - GCS_FILE_CACHE=False
      - EMBEDDING_MODEL=all-MiniLM-L6-v2
      - IS_EMBEDDING=true
      - KNN_MIN_SCORE=${KNN_MIN_SCORE-0.94}
      - UPDATE_GRAPH_CHUNKS_PROCESSED=${UPDATE_GRAPH_CHUNKS_PROCESSED-20}
      - NUMBER_OF_CHUNKS_TO_COMBINE=${NUMBER_OF_CHUNKS_TO_COMBINE-6}
      - ENTITY_EMBEDDING=${ENTITY_EMBEDDING-False}
      - LLM_MODEL_CONFIG_local_gpt=${LLM_MODEL_CONFIG_local_gpt-Gemma2-9B-Sealion-V3-Instruct,http://100.108.2.57/vllm_sealion/v1}
      - DEFAULT_DIFFBOT_CHAT_MODEL=${DEFAULT_DIFFBOT_CHAT_MODEL-local_gpt}
    container_name: neo4j-backend
    # extra_hosts:
    #   - host.docker.internal:host-gateway
    ports:
      - "8000:8000"
    networks:
      - neo4j-network

  neo4j-frontend:
    depends_on:
      - neo4j-backend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_API_URL=${VITE_BACKEND_API_URL-http://192.168.137.188:8000}
        - VITE_REACT_APP_SOURCES=${VITE_REACT_APP_SOURCES-local,wiki,s3}
        - VITE_TIME_PER_PAGE=${VITE_TIME_PER_PAGE-50}
        - VITE_CHUNK_SIZE=${VITE_CHUNK_SIZE-5242880}
        - VITE_LARGE_FILE_SIZE=${VITE_LARGE_FILE_SIZE-5242880}
        - VITE_ENV=${VITE_ENV-DEV}
        - VITE_CHAT_MODES=${VITE_CHAT_MODES-}
        - VITE_BATCH_SIZE=${VITE_BATCH_SIZE-2}
        - VITE_LLM_MODELS=${VITE_LLM_MODELS-local_gpt}
        - VITE_LLM_MODELS_PROD=${VITE_LLM_MODELS_PROD-local_gpt}
        - VITE_CHUNK_OVERLAP=${VITE_CHUNK_OVERLAP-}
        - VITE_TOKENS_PER_CHUNK=${VITE_TOKENS_PER_CHUNK-}
        - VITE_CHUNK_TO_COMBINE=${VITE_CHUNK_TO_COMBINE-}
        - DEPLOYMENT_ENV=local
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    container_name: neo4j-frontend
    ports:
      - "8080:8080"
    networks:
      - neo4j-network

  neo4j-browser:
    container_name: neo4j-browser
    restart: unless-stopped
    image: neo4j:latest
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=none
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
      - NEO4J_PLUGINS=["apoc", "graph-data-science"]
    volumes:
      - ./neo4j_db/data:/data
      - ./neo4j_db/logs:/logs
      - ./neo4j_db/import:/var/lib/neo4j/import
      - ./neo4j_db/plugins:/plugins
    networks:
      - neo4j-network

networks:
  neo4j-network: