version: "3"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    container_name: backend
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - "8000:8000"
    networks:
      - net

  frontend:
    depends_on:
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - BACKEND_API_URL=${BACKEND_API_URL-http://localhost:8000}
        - REACT_APP_SOURCES=${REACT_APP_SOURCES-local,youtube,wiki,s3}
        - LLM_MODELS=${LLM_MODELS-diffbot,openai-gpt-3.5,openai-gpt-4o}
        - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID-""}
        - BLOOM_URL=${BLOOM_URL-https://workspace-preview.neo4j.io/workspace/explore?connectURL={CONNECT_URL}&search=Show+me+a+graph&featureGenAISuggestions=true&featureGenAISuggestionsInternal=true}
        - TIME_PER_CHUNK=${TIME_PER_CHUNK-4}
        - TIME_PER_PAGE=${TIME_PER_PAGE-50}
        - CHUNK_SIZE=${CHUNK_SIZE-5242880}
        - ENV=${ENV-DEV}
        - CHAT_MODES=${CHAT_MODES-""}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    # env_file:
    #   - ./frontend/.env
    container_name: frontend
    ports:
      - "8080:8080"
    networks:
      - net

networks:
  net:
