asyncio==3.4.3
boto3==1.34.140
botocore==1.34.140
certifi==2024.2.2
fastapi==0.111.0
fastapi-health==0.4.0
google-api-core==2.18.0
google-auth==2.29.0
google_auth_oauthlib==1.2.0
google-cloud-core==2.4.1
json-repair==0.25.2
pip-install==1.3.5
langchain==0.3.0
langchain-aws==0.2.1
langchain-anthropic==0.2.1
langchain-fireworks==0.2.0
langchain-community==0.3.0
langchain-core==0.3.5
langchain-experimental==0.3.1
langchain-google-vertexai==2.0.1
langchain-groq==0.2.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langdetect==1.0.9
langsmith==0.1.128
langserve==0.3.0
neo4j-rust-ext
nltk==3.8.1
openai==1.47.1
opencv-python==4.8.0.76
psutil==6.1.0
pydantic==2.8.2
python-dotenv==1.0.1
pytube==15.0.0
PyPDF2==3.0.1
PyMuPDF==1.24.5
starlette==0.37.2
sse-starlette==2.1.2
starlette-session==0.4.3
tqdm==4.66.2
unstructured[all-docs]==0.14.9
urllib3==2.2.2
uvicorn==0.30.1
gunicorn==22.0.0
wikipedia==1.4.0
wrapt==1.16.0
yarl==1.9.4
youtube-transcript-api==0.6.2
zipp==3.17.0
sentence-transformers==3.0.1
google-cloud-logging==3.10.0
pypandoc==1.13
graphdatascience==1.10
Secweb==1.11.0
ragas==0.1.14

