accelerate==1.12.0
asyncio==4.0.0
boto3==1.40.23
botocore==1.40.23
certifi==2025.8.3
fastapi==0.116.1
fastapi-health==0.4.0
fireworks-ai==0.15.12
google-api-core==2.25.1
google-auth==2.40.3
google_auth_oauthlib==1.2.2
google-cloud-core==2.4.3
json-repair==0.44.1
pip-install==1.3.5
langchain==1.1.2
langchain-aws==1.1.0
langchain-anthropic==1.2.0
langchain-fireworks==1.1.0
langchain-community==0.4.1
langchain-core==1.2.5
langchain-experimental==0.4.0
langchain-google-vertexai==3.1.1
langchain-groq==1.1.0
langchain-openai==1.1.0
langchain-text-splitters==1.0.0
langchain-huggingface==1.1.0
langchain-classic==1.0.0
langdetect==1.0.9
langsmith==0.4.55
langserve==0.3.3
neo4j-rust-ext==5.28.2.1
nltk==3.9.1
openai==2.9.0
psutil==7.0.0
pydantic==2.12.5
python-dotenv==1.1.1
python-magic==0.4.27
PyPDF2==3.0.1
PyMuPDF==1.26.4
starlette==0.47.3
sse-starlette==3.0.2
starlette-session==0.4.3
tqdm==4.67.1
unstructured[all-docs]==0.18.14
unstructured-client==0.42.3
unstructured-inference==1.0.5
urllib3==2.6.2
uvicorn==0.35.0
gunicorn==23.0.0
wikipedia==1.4.0
wrapt==1.17.3
yarl==1.20.1
youtube-transcript-api==1.2.2
zipp==3.23.0
sentence-transformers==5.1.0
google-cloud-logging==3.12.1
pypandoc==1.16.2
graphdatascience==1.18a1
Secweb==1.25.2
ragas==0.4.0
rouge_score==0.1.2
langchain-neo4j==0.6.0
pypandoc-binary==1.15
chardet==5.2.0