.filetable {
  border: 1px solid #d1d5db;
  width: 95% !important;
}

.s3Container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline-color: #d1d5db;
}

.s3Container>button>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBg {
  outline-color: #d1d5db;
  border-radius: 8px;
}

.ndl-data-grid-root .ndl-data-grid-navigation {
  padding-block: 5px !important;
}

.ndl-drawer .ndl-drawer-close-button {
  background-color: rgb(var(--theme-palette-neutral-bg-strong));
  width: 36px !important;
  height: 36px !important;
}

.custombutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.brandimg {
  width: 65px;
  height: 55px;
  object-fit: contain;
}

.webImg {
  width: 80px;
  height: 80px;
}

::placeholder {
  color: rgb(135, 130, 130) !important;
}

.textellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 7px auto;
  position: relative;
  background: #FFF;
  box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -12px 0 rgb(var(--theme-palette-primary-bg-strong)), 12px 0 #FFF;
  }

  66% {
    background: rgb(var(--theme-palette-primary-bg-strong));
    box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  }

  100% {
    background: #FFF;
    box-shadow: -12px 0 #FFF, 12px 0 rgb(var(--theme-palette-primary-bg-strong));
  }
}
.dropdownbtn{
  background-color: #014063;
  color: white !important;
  border-radius: unset !important;
  width: 35px;
  padding: 0.5rem;
}
.dropdownbtn:hover{
  background-color: #02293d !important;
}
.graphbtn{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.dropdownbtn.darktheme{
  background-color: #51A6B1;
}
.dropdownbtn.small{
  height: 24px;
}
.darktheme:hover{
  background-color: #44929c !important;
}

.ndl-dropzone>div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.chatBotContainer {
  scrollbar-width: thin;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}


.connectionmodal__input {
  width: 48.5%;
  margin-right: 1.5%;
  display: inline-block;
}

.connectionmodal__port__input {
  width: 15%;
  display: inline-block;
}

.connectionmodal__hostname__input {
  margin-left: 2.5%;
  width: 55%;
  margin-right: 2.5%;
  display: inline-block;
}

.connectionmodal__protocal__input {
  width: 25%;
  display: inline-block
}

.connectionstatus__container {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.legend_div {
  flex-wrap: wrap;
  flex: 1;
  padding: 15px;
  background-color: rgb(var(--theme-palette-neutral-bg-weak));
  scrollbar-width: thin;
  max-height: 100%;
  overflow-y: auto;
  height: 100%;
  z-index: 1;
  box-shadow: -2px 0px 6px rgb(var(--theme-palette-neutral-bg-strong));
}

.legend {
  display: inline-block;
  min-width: 0px;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px 8px;
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  line-height: 1.25rem;
  width: max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ndl-widget-content>div {
  overflow-wrap: break-word
}

.word-break {
  word-break: break-word;
}

.cellClass {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.ndl-type-checkbox,
.ndl-label-before>span {
  font-weight: 600;
  font-size: larger;
}

.ndl-upload-img-wrapper {
  background: url("./assets/images/dropzone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.ndl-dropzone .ndl-dropzone-header {
  row-gap: 0 !important;
}

.ndl-status-indicator {
  margin-bottom: 0px !important;
}

.css-h4y409-MuiList-root {
  scrollbar-width: thin;
}

.source-container {
  container-type: size;
}

.source-container>* {
  width: 100%;
}

@container (min-height:500px) and (max-height:700px) {
  .outline-dashed img {
    width: 40px;
    height: auto;
  }

  .outline-dashed h6 {
    font-size: 14px;
  }

  .outline-dashed .wikipedia-div {
    padding: 12px;
  }

}

@container (min-height:400px) and (max-height:500px) {
  .outline-dashed img {
    width: 35px;
    height: auto;
  }

  .outline-dashed h6 {
    font-size: 14px;
  }

  .outline-dashed .wikipedia-div {
    padding: 10px;
  }

}

@container (max-height:300px) {
  .outline-dashed img {
    width: 30px;
    height: auto;
  }

  .outline-dashed h6 {
    font-size: 12px;
  }

  .dropzoneContainer .ndl-upload-img-wrapper {
    display: none !important;
  }

  .dropzoneContainer .ndl-dropzone-header {
    margin-bottom: 5px !important;
  }

  .imageBg>div {
    padding: 5px;
  }

  .outline-dashed .wikipedia-div {
    padding: 8px;
  }
}

.ndl-dropzone .ndl-dropzone-header {
  margin-bottom: 0 !important;
}

.node_label__value-container--has-value,
.relationship_label__value-container--has-value {
  max-height: 215px;
  overflow-y: scroll !important;
  scrollbar-width: thin;
}

.entity_extraction_Tab_node_label__value-container--has-value,
.entity_extraction_Tab_relationship_label__value-container--has-value {
  max-height: 100px;
  overflow-y: scroll !important;
  scrollbar-width: thin;
}

.tablet_entity_extraction_Tab_node_label__value-container--has-value,
.tablet_entity_extraction_Tab_relationship_label__value-container--has-value {
  max-height: 80px;
  overflow-y: scroll !important;
  scrollbar-width: thin;
}

.widthunset {
  width: initial !important;
  height: initial !important;
}

.text-input-container {
  transition: width 1.5s ease;
  /* width: 100dvh; */
}

.text-input-container.search-initiated {
  width: 60dvh;
}

.custom-menu {
  min-width: 250px;
  max-width: 305px;
}
.ndl-modal-root{
  z-index: 39 !important;
}
.tbody-dark .ndl-data-grid-tr:hover {
  --cell-background: rgb(60 63 68) !important;
}
.tbody-light .ndl-data-grid-tr:hover {
  --cell-background: rgb(226 227 229) !important;
}
.chatbot-deleteLoader{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  opacity: 0.8;
  background-color: rgb(201 201 201 / 40%);
}
.layout-wrapper{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 64px 1fr minmax(min-content,4fr) 1.1fr 64px;
  max-height: calc(100vh - 58px);
  max-width: 100%;
}
.layout-wrapper.drawerdropzoneclosed{
  grid-template-columns: 64px 4fr 1.1fr 64px;

}
.layout-wrapper.drawerchatbotclosed{
  grid-template-columns: 64px 0.6fr minmax(min-content,4fr) 64px;
}
.layout-wrapper.drawerclosed{
  grid-template-columns: 64px minmax(min-content,4fr) 64px;
}
.main-content-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  height: 100%;
}

@media screen and (min-width:1025px) and (max-width:1440px){
  .layout-wrapper{
    grid-template-columns: 64px 1fr minmax(min-content,4fr) minmax(min-content,2fr) 64px;
  
    }
}
@media screen and (min-width:1536px) and (max-width:2560px){
  .layout-wrapper{
  grid-template-columns: 64px 1fr minmax(min-content,6.5fr) minmax(max-content,1fr) 64px;

  }
}
.sidenav-container{
  height: calc(100vh - 58px);
  min-height: 200px;
  display: flex
}

 .resource-sections.blur-sm {
  filter: blur(2px);
 }
.profile-container{
  display:flex;
  gap:4px;
  align-items:center;
  border: 1px solid rgb(var(--theme-palette-neutral-border-strong));
  border-radius: 12px;
}
.websource-btn-container{
  display: flex;
  gap: 10px;
}

.enhancement-btn__wrapper{
  padding-right: 12px;
}