.filetable {
  /* width: calc(-360px + 100dvw); */
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}
.fileTableWithExpansion {
  width: calc(-400px + 100dvw) !important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}
.fileTableWithBothDrawers{
  width: calc(-650px + 100dvw) !important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}

.fileTableWithExpansion .ndl-div-table {
  width: max-content !important;
}
.filetable .ndl-div-table {
  width: 100% !important;
}
.contentWithExpansion {
  width: calc(-360px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.contentWithBothDrawers{
  width: calc(-721px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.contentWithChatBot{
  width: calc(-385px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.contentWithNoExpansion {
  width: calc(100% - 64px);
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.s3Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(-477px + 100dvh);
  border-radius: 8px;
  outline-color: #d1d5db;
}

.s3Container > button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBg {
  outline-color: #d1d5db;
  border-radius: 8px;
}

.ndl-data-grid-root .ndl-data-grid-navigation {
  padding-block: 5px !important;
}
.ndl-drawer .ndl-drawer-close-button {
  background-color: rgb(245 246 246 / 1);
  width: 40px !important;
  height: 40px !important;
  right: 10px !important;
}
.custombutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  padding-block: 10px;
}
.brandimg {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
::placeholder {
  color: rgb(135, 130, 130) !important;
}
.textellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
