.filetable {
  /* width: calc(-360px + 100dvw); */
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}

.fileTableWithExpansion {
  width: calc(-400px + 100dvw) !important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}

.fileTableWithBothDrawers {
  width: calc(-650px + 100dvw) !important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}

.fileTableWithExpansion .ndl-div-table {
  width: max-content !important;
}

.filetable .ndl-div-table {
  width: 100% !important;
}

.contentWithExpansion {
  width: calc(-360px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.contentWithBothDrawers {
  width: calc(-786px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.contentWithChatBot {
  width: calc(-475px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.contentWithNoExpansion {
  width: calc(100% - 64px);
  height: calc(100dvh - 60px);
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.s3Container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline-color: #d1d5db;
}

.s3Container>button>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBg {
  outline-color: #d1d5db;
  border-radius: 8px;
}

.ndl-data-grid-root .ndl-data-grid-navigation {
  padding-block: 5px !important;
}

.ndl-drawer .ndl-drawer-close-button {
  background-color: rgb(var(--theme-palette-neutral-bg-strong));
  width: 36px !important;
  height: 36px !important;
  right: 5px !important;
}

.custombutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.brandimg {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

::placeholder {
  color: rgb(135, 130, 130) !important;
}

.textellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 7px auto;
  position: relative;
  background: #FFF;
  box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -12px 0 rgb(var(--theme-palette-primary-bg-strong)), 12px 0 #FFF;
  }

  66% {
    background: rgb(var(--theme-palette-primary-bg-strong));
    box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  }

  100% {
    background: #FFF;
    box-shadow: -12px 0 #FFF, 12px 0 rgb(var(--theme-palette-primary-bg-strong));
  }
}

.ndl-dropzone>div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.chatBotContainer {
  scrollbar-width: thin;
  overflow-x: hidden;
}

.connectionmodal__input {
  width: 48.5%;
  margin-right: 1.5%;
  display: inline-block;
}

.connectionmodal__port__input {
  width: 15%;
  display: inline-block;
}

.connectionmodal__hostname__input {
  margin-left: 2.5%;
  width: 55%;
  margin-right: 2.5%;
  display: inline-block;
}

.connectionmodal__protocal__input {
  width: 25%;
  display: inline-block
}

.connectionstatus__container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.legend_div {
  display: flex;
  flex: 0.3;
  flex-wrap: wrap;
  padding: 15px;
  gap: 8px;
  background-color: #ffff;
  scrollbar-width: thin;
}

.legend {
  display: inline-block;
  min-width: 0px;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px 8px;
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  line-height: 1.25rem;
  width: max-content;
  height: 30px
}

.chatBotContainer>div {
  max-width: 370px;
}
.ndl-widget-content>div{
  overflow-wrap: break-word
}