.filetable {
  width: calc(-360px + 100dvw) !important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}
.fileTableWithExpansion{
  width: calc(-400px + 100dvw)!important;
  height: calc(-322px + 100dvh);
  border: 1px solid #d1d5db;
}

.contentWithExpansion {
  width: calc(-360px + 100dvw);
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-Direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.ndl-side-navigation ndl-left > .ndl-side-navigation-nav > #ndl-side-nav-expand-btn{
  display:none;
}

.contentWithNoExpansion {
  width: 100%;
  height: calc(100dvh - 60px);
  padding: 3;
  display: flex;
  flex-Direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.s3Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(-388px + 100dvh );
  border-radius: 8px;
  outline-color: #d1d5db;
}

.s3Container>button>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBg {
  outline-color: #d1d5db;
  border-radius: 8px;
}