@import 'tailwindcss';

@config '../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  margin: 0;
}


.ndl-progress-bar-wrapper .ndl-header .ndl-heading::after{
  animation: none !important;
}
