@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.ndl-progress-bar-wrapper .ndl-header .ndl-heading::after{
  animation: none !important;
}
